# 'Morgan' logger
LOGGER_FORMAT=

# Email DKIM validation. Public key is served by DNS txt record.
# Reading from file now.
DKIM_PRIVATE_KEY_PATH=

# 'Express' app
PORT=

# 'Debug' package
DEBUG=trymongo:*

# Node and various
NODE_ENV=
